body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
    height: 100%;
}

html {
    overflow: hidden;
    height: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(49, 49, 49, 0.4);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
}


h1 {
    margin: 0px;
}

.mt-vs__container {
    --transition-speed: 0.5s;
}

.mt-vs__content--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vh;
    min-height: 100vh;
}

.mt-vs__container {
    height: 100vh;
    transform: translate3d(0px, 0, 0px);
    transition: all 1000ms ease 0s;
}

.mt-vs__content {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.mt-vs__content--active {
    display: block;
    min-height: 100vh;
}

.color--one {
    background: #85ac8b;
}

.color--two {
    background: #8f7fce;
}

.color--three {
    background: #cf97c5;
}

.color--four {
    background: #F59A8E;
}

.mt-vs__side-navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.mt-vs__side-navigation {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    box-sizing: border-box;

}

.mt-vs__bullet {
    display: block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: white;
    cursor: pointer;
}

.mt-vs__bullet-wrapper {
    margin-top: 8px;
    margin-bottom: 8px;
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 9px;
}

.mt-vs__bullet:not(.mt-vs__bullet--active):hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    background-color: white;
}

.mt-vs__bullet-wrapper:hover .mt-vs__bullet-text {
    opacity: 1;

}

.mt-vs__bullet--active {
    transform: scale(2);
}
.mt-vs__bullet-text {
    opacity: 0;
    position: absolute;
    right: 8px;
    font-size: 12px;
    white-space: nowrap;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 12px;
    transition: opacity 200ms;
    pointer-events: none;
}


.mt-vs__top-navigation {
    right: 20px;
    top: 20px;
    position: fixed;

}

.mt-vs__top-navigation ul {
    grid-gap: 24px;
    display: flex;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 24px;
    align-items: center;
    align-items: baseline;
}

.mt-vs__navigation-entry {
    display: block;
    cursor: pointer;
}

.mt-vs__navigation-entry--active {
    border-bottom: white;
    border-width: 2px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}