body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

h1 {
    margin: 0px;
}

/* .fullheight-scroller__container::-webkit-scrollbar {
    display: none;
} */

.fullheight-scroller__container {
    height: 100vh;
    /* overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; */
    /* overflow-y: scroll; */
    
}

.fullheight-scroller__navigation {

}

.slide-top {
transform: translate(0, -100%);
}

.slide-bottom {
transform: translate(0, 100%);
}

.fullheight-scroller__content {
    z-index: 0;
    transition: all 1s;
    position: absolute;
    width: 100%;
    height: 100vh;
        overflow-y: auto;
}

.fullheight-scroller__content--active {
    z-index: 0;
    display: block;
    min-height: 100vh;
    transform: translate(0, 0);
}

.red {
    background: rgb(0, 162, 255);
}

.blue {
    background: rgb(0, 102, 255);
}

.yellow {
    background: rgb(136, 127, 0);
}

.purple {
    background: rgb(75, 0, 75);
}

.fullheight-scroller__navigation {
    position: fixed;
}

